<header>
	<nav id='menu'>
	<ul>
		<li><%= link_to content_tag(:span, "Шаг первый - изменение пароля"), '#' %></li>
		<li><%= link_to content_tag(:span, "Шаг второй - создание группы"), '#' %></li>
		<li><%= link_to content_tag(:span, "Шаг третий - выбор номеров"), '#' %></li>
	</ul>
    </nav>
</header>